

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>{% set _block = block('title') %}
        {% if _block is not empty %}
            {{ _block|raw }}
            {% else %}
            Organic Standard
        {% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('/bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('/bundles/app/css/style.css') }}" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">"Пуща-Водиця"</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto" style="width: 250px; position: absolute; top: 20%; left: 33%;
  ">



            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'residence' %} active {% endif %}">
                <a class="nav-link" href="{{ path('residence') }}">Проживання</a>
            </li>

            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'food' %} active {% endif %}">
                <a class="nav-link" href="{{ path('food') }}">Харчування</a>
            </li>

            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'article' %} active {% endif %}">
                <a class="nav-link" href="{{'#'}}">Дозвілля</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'article' %} active {% endif %}">
                <a class="nav-link" href="{{'#'}}">Команда</a>
            </li>
            <li class="nav-item {% if app.request.attributes.get('_route') starts with 'contacts' %} active {% endif %}">
                <a class="nav-link" href="{{path('contacts')}}">Контакти</a>
            </li>

        </ul>
        {#<form class="form-inline my-2 my-lg-0">#}
            {#<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
            {#<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#</form>#}
    </div>
</nav>

<main role="main" class="bla-container">

    <div>
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
    </div>

    {% block body %} {% endblock %}

</main><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src={{ asset('/bundles/app/js/bootstrap.min.js') }}></script>
<script src="{{ asset('/bundles/app/js/jquery.min.css') }}"></script>
<script src="{{ asset('bundles/app/js/scripts.js') }}"></script>

</body>
</html>
